body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border: 1px solid black;
}

input[type="text"],
input[type="file"] {
  width: 99%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 100%;
}
input[type="submit"]:hover {
  background-color: #0161c8;
  text-decoration: underline;
  cursor: pointer;
}
input[type="submit"]:active {
  background-color: #007bff;
}

a {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}
.back {
  background-color: #007bff;
  border: none;
  margin-top: 20px;
  margin-left: 600px;
  color: white;
  border-radius: 8px;
  padding: 12px;
}
.back:hover {
  background-color: #0161c8;
  cursor: pointer;
  text-decoration: underline;
}
